# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log
*.env
*.DS_Store

# Django
db.sqlite3
/static/
media/

# VS Code
.vscode/

# Environments
.env
venv/
env/

# Migrations
**/migrations/
!*/migrations/__init__.py
